
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px 15px 10px;
    background-color: #0B102D;
}
  

.header button {
  background-color: #6DE96D;
  padding: 18px 31px 18px 31px;
  border: none;
  border-radius: 10px;
  font-family: "Archivo", 'sans-serif';
}


@media screen and (max-width: 700px) {
  .header button {
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    font-size: 12px;
  }
}


@media screen and (max-width: 400px) {

  .header button {
    font-size: 10px;
  }
}
