/* Safari only */
@supports (-webkit-backdrop-filter: blur(1px)) {
  @media screen and (max-width: 1300px) {
    .safari-image {
      object-fit: contain !important;
      transform: scale(1.3);
    }
  }

  @media screen and (max-width: 1160px) {
    .safari-image {
      object-fit: contain !important;
      transform: scale(1.4);
    }
  }

  @media screen and (max-width: 1000px) {
    .safari-image {
      object-fit: contain !important;
      transform: scale(1.7);
    }
  }

  @media screen and (max-width: 900px) {
    .safari-image {
      object-fit: contain !important;
      transform: scale(1.8);
    }
  }

  @media screen and (max-width: 850px) {
    .safari-image {
      object-fit: contain !important;
      transform: scale(2);
    }
  }

  @media screen and (max-width: 750px) {
    .safari-image {
      object-fit: contain !important;
      transform: scale(2.2);
      // display: none;
    }
  }

  @media screen and (max-width: 700px) {
    .safari-image {
      object-fit: contain !important;
      transform: scale(2.4);
    }
  }

  @media screen and (max-width: 650px) {
    .safari-image {
      object-fit: contain !important;
      transform: scale(2.6);
    }
  }

  @media screen and (max-width: 600px) {
    .safari-image {
      object-fit: contain !important;
      transform: scale(2.9);
    }
  }

  @media screen and (max-width: 500px) {
    .safari-image {
      object-fit: contain !important;
      transform: scale(3.5);
    }
  }

  @media screen and (max-width: 450px) {
    .safari-image {
      object-fit: contain !important;
      transform: scale(3.8);
    }
  }

  @media screen and ((max-width: 420px) or (max-width: 400px)) {
    .safari-image {
      object-fit: contain !important;
      transform: scale(4.2);
    }
  }

  @media screen and ((max-width: 380px) or (max-width: 350px)) {
    .safari-image {
      object-fit: contain !important;
      transform: scale(5);
    }
  }

  @media screen and ((max-width: 300px) or (max-width: 280px) ) {
    .safari-image {
      object-fit: contain !important;
      transform: scale(5.8);
    }
  }

  @media screen and ((max-width: 250px) or (max-width: 200px)) {
    .safari-image {
      object-fit: contain !important;
      transform: scale(7.1);
    }
  }
}