body {
  background-color: #0B102D;
}
.app {
  background-color: #0B102D;
  color: white;
  overflow: hidden;
}

.intro {
  margin-top: 30px;
  text-align: center;
  font-family: "ClashDisplay-Medium", sans-serif;
  overflow: hidden;
}
.intro h1 {
  font-size: 70px;
  line-height: 40px;
}

.intro p {
  line-height: 6px;
  font-size: 16px;
  font-family: "Archivo", sans-serif;
}

/* Safari only */
@supports (-webkit-backdrop-filter: blur(1px)) {
  .intro h1 {
    font-size: 50px;
  }
  @media screen and (max-width: 700px){
    .intro h1 {
      font-size: 40px !important;
    }
  }

  .top-image {
    margin-bottom: -60px;
  }
}


.about-container {
  background-color: white;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #101742;
  text-align: center;
  font-family: "ClashDisplay-Medium", 'sans-serif';
}

.about-container h2 {
  font-size: 38px;
}
.about-container p {
  font-size: 16px;
  line-height: 16px;
  font-family: "Archivo", 'sans-serif';
}

.about-container .click-and-pay-text {
  margin-top: -20px;
}

.about-us-story-container h3 {
  margin-bottom: 30px;
}

.about-us-story-container p {
  line-height: 20px;
}

.about-us-story-container p:nth-child(2) {
  margin-bottom: 30px;
}

.about-us-story-container {
  text-align: left;
  width: 50%;
  padding-right: 50px;
}
.erik-image {
  /* width: 490px; */
  width: 90%;
  border-radius: 20px;
}
.erik-image-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.erik-image-container .profile-info {
  margin-top: 10px;
}

.erik-image-container p {
  line-height: 14px;
}

.about-us-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 45px;
  padding-bottom: 90px;
  /* background-color: red; */
  width: 90%;
}

.about-us-container p {
  font-family: "ClashDisplay-Medium", 'sans-serif';
}

.how-it-works-container {
  background-color: #D9DEFC;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-align: center;
}

.how-it-works-container h2 {
  font-size: 38px;
  font-family: "ClashDisplay-Medium", 'sans-serif';
}
.how-it-works-container p {
  font-size: 16px;
  margin-top: -20px;
  font-family: "Archivo", 'sans-serif';
}

.how-it-works-inner-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 60px;
  padding-bottom: 50px;
}

.how-it-works-container * {
  color: #101742;
}

.phone-image-container {
  /* width: 55vw; */
  /* aspect-ratio: 1; */
  /* height: 55vw;  */
   /* 498px; */
   height: 498px;
   width: 594px;
  background-color: white;
  border-radius: 10px;
  border: 1px #C47BF5 solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iphone-image {
  width: 80%;
}

.instructions-list {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  width: 40%;
  justify-content: space-between;
}

.instruction-item {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

.list-number {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background-color: white;
  font-weight: bold;
}

.list-item-details {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  text-align: left;
  width: 80%;
  font-family: "Archivo", 'sans-serif';
}

.list-item-title {
  font-weight: bold;
  font-size: 24px;
  font-family: "ClashDisplay-Medium", 'sans-serif';
}

.list-item-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.how-it-works-store-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.how-it-works-store-links img {
  height: 45px;
}

.happy-users-container {
  background-image: url(/public/happy-users-bg.png);
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: start;
  color: white;
  text-align: center;
  padding-bottom: 100px;
  position: relative;
}

.happy-users-textbox {
  min-width: 150px;
  align-self: center;
}

.happy-users-container h2 {
  font-size: 38px;
  text-align: center;
  font-family: "ClashDisplay-Medium", 'sans-serif';
}

.happy-users-container p {
  font-size: 16px;
  margin-top: -20px;
  font-family: "Archivo", 'sans-serif';
}

.happy-users-inner-container {
  display: flex;
  flex-direction: row;
  padding-bottom: 50px;
  margin-top: 100px;
  width: 100vw;
  overflow-x: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.happy-users-inner-container::-webkit-scrollbar {
  display: none;
}

.chatbox {
  flex: none;
  min-height: 150px;
  width: 550px;
  border-top-left-radius: 29.94px;
  border-top-right-radius: 29.94px;
  border-bottom-left-radius: 29.94px;
  padding-top: 40px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  margin-left: 20px;
}
.chatbox p {
  font-family: "Archivo", 'sans-serif';
}

.purple-bg {
  background-color: #A555F6;
}

.second-blue-bg {
  background-color: #0B89E4;
}

.deep-blue-bg {
  background-color: #5565F6;
}

.light-blue-bg {
  background-color: #55B3F6;
}

.pink-bg {
  background-color: #F317EA;
}

.second-purple-bg {
  background-color: rgba(120, 76, 246, 1);
}

.chatbox p {
  padding-left: 10px;
}

.chat-line {
  height: 1px;
  background-color: rgba(255,255,255, .5);
  margin-bottom: 20px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.app-logo-large-happy-users {
  width: 400px;
  align-self: center;
  margin-top: 50px;
}


.questions-container {
  background-color: #A3A1F7;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #101742;
  text-align: center;
  padding-bottom: 100px;
  position: relative;
}

.questions-textbox {
  margin-bottom: 50px;
}

.questions-container h2 {
  font-size: 38px;
  text-align: center;
  font-family: "ClashDisplay-Medium", 'sans-serif';
}

.questions-container p {
  font-size: 16px;
  margin-top: -20px;
  font-family: "Archivo", 'sans-serif';
}

.more-questions {
  width: 50%;
  background-color: #EFEFFE;
  padding: 26px 30px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.more-questions h3 {
  margin-bottom: 30px;
  font-family: "ClashDisplay-Medium", 'sans-serif';
}

.more-questions p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  font-family: "Archivo", 'sans-serif';

}


/* 
.stack-card {
  height: 216px;
  width: 60%;
  border-radius: 23px;
  padding: 30px 34px;
} */

.pink-bg{
  background-color: #C935D2;
}

.yellow-bg {
  background-color: #F7EBA1;
}

.purple-bg2 {
  background-color: #8C50EC;
}

.orange-bg {
  background-color: #FC8D8A;
}
.margin-t-20 {
  margin-top: 20px;
}
.social-link {
  margin-right: 10px;
}

.images-container {
  justify-content: space-evenly;
}

.top-image {
  width: 100%;
  object-fit: cover;
  overflow: visible;
}


.top-image-container {
  height: 428px;
  width: 40%;
  display: flex;
  overflow: visible;
  align-self: flex-end;
}

@media screen and (max-width: 1300px) {
  .images-container {
    justify-content: center;
  }
  .payment-link-image {
    margin-bottom: 15px;
  }
}


@media screen and (max-width: 360px) {
  .about-us-container {
    font-size: .8em;
  }
}

@media screen and (max-width: 700px) {

  .intro {
    margin-top: 100px;
    /* padding-bottom: 25vh; */
  }
  .intro h1 {
    font-size: 50px;
    line-height: 25px;
  }
  
  .intro p {
    font-size: 14px;
  }

  .about-container h2 {
    font-size: 30px;
  }
  .about-container p {
    font-size: 14px;
  }
  .app-logo-large-happy-users {
    width: 250px;
  }

.question {
  width: 75%;
  padding: 15px 15px;
}

.question div {
  font-size: 18px;
}

.more-questions {
  width: 75%;
  padding: 10px 20px;
}

.more-questions h3 {
  margin-bottom: 30px;
}

.more-questions p {
  font-size: 14px;
  line-height: 18px;
}

.stack-card {
  height: 200px;
  padding: 10px 15px;
}

  .join-store-links img {
    height: 30px;
  }
  .app-logo-footer {
    width: 120px;
  }
  .social-link {
    margin-right: 5px;
  }
 
  .how-it-works-inner-container {
    flex-direction: column-reverse;
  }
  .phone-image-container {
    width: unset;
  }
  .instructions-list {
    padding-left: 20px;
    /* width: 70%; */
    width: 100%;
  }
  .chatbox {
    min-height: 150px;
    width: 450px;
    margin-left: 10px;
  }
  .how-it-works-container h2 {
    font-size: 28px;
  }
  .how-it-works-container p {
    font-size: 12px;
    margin-top: -15px;
  }
}

@media screen and (max-width: 885px) {
  /* .about-container{
    font-size: 14px;
  } */

  .how-it-works-store-links {
    margin-top: 30px;
  }

}

@media screen and (max-width: 500px) {
  .chatbox {
    min-height: 120px;
    width: 350px;
    margin-left: 10px;
  }

  .app-logo-footer {
    display: none;
  }

  /* .about-container{
    font-size: 12px;
  } */
  .social-link {
    height: 25px;
  }

  .stack-card {
    height: 200px;
    padding: 10px 15px;
  }

  .join-store-links img {
    height: 30px;
  }
  .how-it-works-inner-container {
    margin-top: 10px;
    padding-bottom: 30px;
  }
  .how-it-works-store-links img {
    height: 30px;
  }

  .happy-users-container h2 {
    font-size: 28px;
  }
  
  .happy-users-container p {
    font-size: 14px;
    margin-top: -15px;
  }

  .questions-container h2 {
    font-size: 28px;
  }
  
  .questions-container p {
    font-size: 14px;
    margin-top: -15px;
  }

  .question div {
    font-size: 18px;
  }
  .intro h1 {
    font-size: 28px;
    line-height: 28px;
  }
  
  .intro p {
    font-size: 14px;
    line-height: 14px;
  }
}

@media screen and (max-width: 400px) {
  .chatbox {
    width: 300px;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 22px;
  }


  .chatbox p {
    font-size: 12px;
  }

  .intro {
    margin-top: 100px;
  }
  .intro h1 {
    font-size: 30px;
  }
  
  .intro p {
    font-size: 12px;
  }

  /* .about-container h2 {
    font-size: 24px;
  } */
  /* .about-container p {
    font-size: 12px;
    margin-top: -15px;
  } */
  .how-it-works-container h2 {
    font-size: 24px;
  }
  .how-it-works-container p {
    font-size: 12px;
    margin-top: -15px;
  }

  .list-number {
    height: 40px;
    width: 40px;
  }

  .list-item-title {
    font-weight: bold;
    font-size: 18px;
  }
  
  .list-item-description {
    font-size: 12px;
    line-height: 16px;
  }

  .happy-users-container h2 {
    font-size: 24px;
  }
  
  .happy-users-container p {
    font-size: 12px;
  }
  .app-logo-large-happy-users {
    width: 150px;
  }
  .questions-container h2 {
    font-size: 24px;
  }
  
  .questions-container p {
    font-size: 12px;
  }

  .question {
    width: 80%;
    padding: 10px 15px;
  }
  .question div {
    font-size: 14px;
  }
} 

/* @media screen and (max-width: 800px) {
  .about-us-container {
    flex-direction: column;
    width: 85%;
    align-items: center;
  }
} */