h5 {
    color: rgba(55, 95, 145, 1);
    font-size: 1.5rem;
    font-family: "ClashDisplay-Medium", sans-serif;
    letter-spacing: 1.5px;
    margin-block-start: 1.25em;
    margin-block-end: 1.25em;
    /* font-family: "Archivo", 'sans-serif'; */
}

p, li {
    font-size: 1.1rem;
    font-family: "ClashDisplay-Regular", sans-serif;
    /* font-family: "Archivo", 'sans-serif'; */
    letter-spacing: 1px;
}